.About{
    background: #1A1A29;
    padding-top: 55px;
    padding-bottom: 40px;
}
.About__title{
    color: #7562E0;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.About__des{
    padding-top: 8px;
    color:  #FFF;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
}


