*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header{
    background: #181824;
    padding: 19px 160px;
    position: fixed;
    max-width: 1920px;
    text-align: center;  
}
.Headers{
    background:grey;
    padding: 19px 160px;
    position: fixed;
    max-width: 1920px;
    z-index: 999;
    text-align: center;
}
nav{
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
color:  #7562E0;
 font-size: 28px;
 font-style: normal;
 font-weight: 600;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav__item{
        font-size: 20px;
        margin-left: 50px;
        a{ 
            color: white;
        }
        .actives{
            color: #7562E0;
        }
    }
}
@media(max-width:1020px) {
   .nav__list{
    display: none;
   }  
}
@media(max-width:595px) {
    .nav__logo{
        color:  #7562E0;
         font-size: 12px;
         font-style: normal;
         font-weight: 500;
        }
    
 }